<h1>List of Approved fruit</h1>
<ul>
  <li>apple</li>
  <li>orange</li>
  <li>banana</li>
  <li>pear</li>
  <li>melon</li>
</ul>

<h1>Input an approved fruit</h1>
<form [formGroup]="fruitForm" novalidate>
  <input [formControlName]="'fruit'">
  <span *ngIf="fruitForm.controls['fruit'].hasError('checkFruitIsApproved')" style="color: red;">
    {{fruitForm.controls['fruit'].errors['checkFruitIsApproved']}}
  </span>
  <span *ngIf="fruitForm.valid" style="color: green;">
    Outstanding, that fruit is approved!
  </span>
</form>

<h1>fruitForm info</h1>
<div>
  <ul>
    <li>fruitForm.value... {{fruitForm.value | json}}</li>
    <li>fruitForm.status... {{fruitForm.status}}</li>
    <li>fruitForm.errors... {{fruitForm.errors | json}}</li>
  </ul>
  <ul>
    <li>fruitForm.get('fruit').value... {{fruitForm.controls['fruit'].value | json}}</li>
    <li>fruitForm.get('fruit').status... {{fruitForm.controls['fruit'].status}}</li>
    <li>fruitForm.get('fruit').errors... {{fruitForm.controls['fruit'].errors | json}}</li>
  </ul>
</div>
